@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,100&display=swap');


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
  }  

  body {
    background-color: #CDB4DB;;
    font-family: 'Raleway', sans-serif;
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

.names {

}

.names__button {

}

.names__button--girl {

}

.names__button--boy {

}

.names__idea{
  display: block;
  font-weight: 400;
  margin-top: 20px;
}

.page-header {
  font-weight: 700;
  font-style: italic;
  font-size: 42px;
}